
*{
    box-sizing: border-box;
}

body {
    font-family: Calibri, serif;
    background-color: #E5E5E5;
    
}
.main {
    padding: 30px;
    margin:auto;
    color: #626780;
    max-width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
    border-radius: 10px;

}
.phone {
    display: block;
}

.btn {
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px;
    color: #626780;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  transition: box-shadow 0.2s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: none;
  box-shadow: 0px 5px 10px rgba(149, 149, 201, 0.4);
}

.del_btn
{
    display: inline-block;
}

.name {
    display: inline-block;
    /*fonst-size:10px;*/
}

.form__interface {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.footer__form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.user {
    padding:10px;
    margin-bottom: 15px;
    box-shadow:0px 0px 10px 1px rgba(0,0,0,0.4);
    border-radius:10px;


}



/* add number */

.main__add {
    /* display: flex; */
    position: relative;
}

img {
    max-width: 40px;
    max-height: 40px;
}

.back {
    position: absolute;
    right: 25px;
    top: 15px;
    max-width: 28px;
    max-height: 28px;
    opacity: 0.3;
  }
  .back:hover {
    opacity: 1;
  }

.close {
    
 
    width: 28px;
    height: 28px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 0px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }


.form {
    display: flex;
    justify-content: space-around;
}

.form__list {

}

.create {
    margin-left: 10px;
    margin-top: 37px;
    max-height: 30px;
}

.card {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.add {
    min-width: 393px;
    padding: 4px 8px;
}

.label {
    min-width: 200px;
    margin-right: 20px;
}
.input {
    background-color: transparent;
    /* border: none; */
  
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: 	rgba(98, 103, 128,1);
    padding: 5px 0;
  }
  
  .input::-webkit-input-placeholder {
    color: 	rgba(98, 103, 128,0.5);
  }
  
  .input::-moz-placeholder {
    color: 	rgba(98, 103, 128,0.5);
  }
  
  .input:-ms-input-placeholder {
    color: 	rgba(98, 103, 128,0.5);
  }
  
  .input::-ms-input-placeholder {
    color: 	rgba(98, 103, 128,0.5);
  }
  
  .input::placeholder {
    color: 	rgba(98, 103, 128,0.5);
  }